// Import Font Family

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// CHAT_BAR
body {
  background-color: #232323;
}
.chat-bar-container {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #232323;
  backdrop-filter: blur(10px);
  z-index: 100;
  .container {
    .mobile-bar {
      width: 100%;
      height: 44px;
      position: relative;
      background-color: #232323;

      .left {
        position: absolute;
        left: 16px;
        .time {
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.07px;
          color: #ffffff;
        }
      }

      .right {
        position: absolute;
        right: 16px;
      }
    }
  }
}

//   TOP_BUTTONS
.top-btn-container {
  background-color: #232323;
  .container {
    .left-btn {
      font-weight: 500;
      line-height: 41px;
      letter-spacing: 0.37px;
      color: #96adfb;
    }
    .right-btn {
      width: 111px;
      height: 41px;
      border-radius: 100px;
      padding: 0 20px;
      background-color: #96adfb;

      a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 41px;
        letter-spacing: 0.37px;
        color: #232323;

        .plus {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
//   Search_Bar

.search-bar-main {
  background-color: #232323;
  width: 100%;
  height: 44px;
  .container {
    background-color: #373737;
    border-radius: 100px;
    padding: 10px;

    width: 95%;

    .left-search-box {
      .search-icon {
        width: 24px;
        height: 24px;
      }
    }

    .mid-search-box {
      width: 100%;
      .search-input {
        input {
          width: 100%;
          padding: 0 10px;
          background: transparent;
          border: none;
          outline: none;
          color: rgba(250, 250, 250, 0.4);

          &::placeholder {
            color: rgba(250, 250, 250, 0.4);
          }
        }
      }
    }
    .right-search-box {
      .microphone-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

//   chat-box-main

.chat-box-main {
  .container {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #373737;
    margin-bottom: 77px;
    .chat-box {
      width: 100%;
      height: 77px;
      display: flex;
      border-bottom: 0.5px solid rgba(250, 250, 250, 0.4);
      position: relative;

      .profile-box {
        width: 92px;
        height: 60px;
        padding: 0 15px 0 17px;

        .profile-icon {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          img {
            width: 58px;
            height: 58px;
            object-fit: cover;
            border-radius: 100%;
          }
        }
      }

      .about-chat {
        width: 48%;

        .name {
          // overflow: none;
          // width: 1100px;
          width: 100%;

          // background-color: red;
          font-weight: 500;
          font-size: 20px;
          color: #fafafa;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .send-text {
          width: 100%;
          // background-color: green;
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          color: rgba(250, 250, 250, 0.5);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .chat-status {
        width: 113px;
        height: 60px;
        position: absolute;
        right: 10px;

        .num-badge {
          width: 25px;
          height: 25px;
          border-radius: 100%;
          background-color: #96adfb;
          position: absolute;
          right: 10px;
          .msg-num {
            font-weight: 600;
            font-size: 15px;
            color: #232323;
          }
        }
        .chat-time {
          position: absolute;
          top: 30px;
          right: 10px;
          font-size: 13px;
          font-weight: 500px;
          color: rgba(250, 250, 250, 0.3);
        }
      }
    }
  }
}

.bottom-nav-main {
  width: 100%;

  background-color: rgba(55, 55, 55, 0.7);
  backdrop-filter: blur(15px);
  height: 78px;
  position: fixed;
  bottom: 0px;
  left: 0;
  .container {
    .bottom-nav-box {
      .bottom-box {
        width: 72px;
        height: 58px;

        .bottom-icon-box {
          display: flex;
          align-items: center;
          justify-content: center;

          margin: 0 auto;
        }
        .icon-text {
          font-size: 14px;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: 0;
          color: rgba(250, 250, 250, 0.4);
        }

        .icon-text-1 {
          color: #96adfb;
        }
      }
    }
  }
}
